.works-items {
	display: flex;
	justify-content: space-between;
	&__item {
		max-width: 220px;
		width: 24%;
		margin-bottom: 48px;
	}
	&__link {
		
	}
	&__image {
		height: 183px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform .2s ease; 
		}
	}
	&__item:hover &__image {
		img {
			transform: scale(1.1);
		}
	}
	&__description {
		padding: 12px;
		border: 1px solid #DADADA;
		border-top: 0;
		transition: background-color .2s ease;
	}
	&__item:hover &__description {
		background-color: #f1eded;
	}
	&__title {
		color: #B8B8B8;
		font-family: Bebas;
		font-weight: 400;
	}
	&__date {
		font-size: 11px;
		color: $color-main;
		font-family: Bebas;
	}
	@media (max-width: $mobile) {
		flex-wrap: wrap;
		&__item {
			max-width: 100%;
			width: 48%;
			margin-bottom: 24px;
		}
		&__description {
			padding: 6px;
		}
	}
	@media (max-width: $low-res) {
		&__item {
			width: 100%;
		}
	}
}