.toggle-navigation {
	display: block;
	width: 32px;
	height: 24px;
	cursor: pointer;
	border: 0;
	background-color: transparent;
	position: relative;
	&__span {
		display: block;
		height: 4px;
		width: 100%;
		background-color: $color-main;
		position: absolute;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}
		&:nth-child(3) {
			bottom: 0;
		}
	}
}