@font-face {
	font-family: Bebas;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Bebas-Regular.woff2') format('woff2'),
			 url('../fonts/Bebas-Regular.woff') format('woff');
}

@font-face {
	font-family: HelveticaNeue;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
			 url('../fonts/HelveticaNeueMedium.woff') format('woff');
}