@import '../../scss/vars';

.carousel-thumbnails {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
	&__item {
    max-width: 140px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: 0;
		width: 15%;
    height: 120px;
    margin-bottom: 40px;
    cursor: pointer;
		&--active {
      transform: scale(1.1);
		}
		&:hover {
      box-shadow: inset 0 0 0 10000px rgba(#000, .2);
    }
    @media (max-width: $mobile) {
      max-width: 100%;
			width: 31%;
			margin-bottom: 20px;
    }
    @media (max-width: $low-res) {
      height: 64px;
    }
  }
}
