@import '../../scss/vars';

.carousel-controls {
  &__button {
    top: 157px;
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &--prev {
      left: 25px;
      @media (max-width: $mobile) {
        &--prev {
          left: 5px;
        }
      }
    }
    &--next {
      right: 25px;
      @media (max-width: $mobile) {
        &--next {
          left: 5px;
        }
      }
    }
  }
  &__icon {
    display: block;
    fill: rgba(#fff, .9);
    width: 36px;
    height: 52px;
    &--rotated {
      transform: rotate(180deg);
    }
  }
}
