@import '../../scss/vars';

.features {
  &__items {
    display: flex;
    justify-content: space-between;	
    flex-wrap: wrap;
  }
	&__item {
		max-width: 300px;
		width: 31%;
    margin-bottom: 45px;
    @media (max-width: $mobile) {
      max-width: 100%;
			width: 100%;
			margin-bottom: 20px;
    }
	}
	&__item-header {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
    padding-right: 50px;
    @media (max-width: $tablet) {
      margin-bottom: 5px;
      padding: 0;
    }
	}
	&__item-icon {
    fill: $color-main;
		width: 46px;
    margin-right: 22px;
    @media (max-width: $tablet) {
      margin-right: 10px;
    }
    @media (max-width: $low-res) {
      display: none;
    }
	}
	&__item-title {
		font-size: 18px;
		color: $color-main;
		font-weight: 400;
		font-family: Bebas;
		line-height: 20px;
	}
	&__item-text {
		color: #404040;
		font-family: HelveticaNeue;
		font-size: 12px;
		line-height: 18px;
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      padding-right: 20px;
			margin-bottom: 5px;
    }
	}
	&__item-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
		width: 56px;
		font-family: Bebas;
		color: #fff;
		font-size: 12px;
		background-color: $color-main;
		transition: background-color .2s ease;
		&:hover {
			background-color: darken($color-main, 10);
		}
	}
}
