.section-footer {
	@include section-highlight;
	&__inner {
		background-color: #E7653C;
		padding: 39px 35px 35px;
		display: flex;
		justify-content: space-between;
	}
	&__col {
		max-width: 265px;
		width: 31%;
	}
	&__col-title {
		font-family: Bebas;
		font-weight: 400;
		color: #fff;
		font-size: 20px;
		margin-bottom: 25px;
	}
	&__col-text {
		font-size: 12px;
		font-family: HelveticaNeue;
		line-height: 1.2;
		color: #fff;
	}
	&__col-text-paragraph {
		margin-bottom: 15px;
		&--no-margin {
			margin: 0;
		}
	}
	&__follow,
	&__follow-link {
		color: #fff;
		font-family: HelveticaNeue;
		font-size: 12px;
	}
	&__follow-link {
		opacity: .5;
		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
	@media (max-width: $tablet) {
		&__inner {
			padding: 20px;
		}
		&__col {
			max-width: 100%;
			width: 45%;
			&:nth-child(2) {
				display: none;
			}
		}
	}
	@media (max-width: $mobile) {
		&__inner {
			padding: 10px;
		}
		&__col {
			width: 100%;
			&:nth-child(1) {
				display: none;
			}
		}
	}
}
